@import "tailwindcss";
@import "./base.css";

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color-1);
    color: white;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bg-img-section {
  background-image: url('../../../public/imgs/STScI-01H1Q2VFHVMAJGH4WRNMK0DY2.png');

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); /* escurecimento */
    z-index: -1;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s steps(2, start) infinite;
}

