@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: "Share Tech", sans-serif;

    --color_1: #012E40;
    --color_2: #024959;
    --color_3: #9FC131;
    --color_4: #DBF227;
    --color_5: #D6D58E;

    --color_1_hover: #022534;
    --color_2_hover: #023b47;
    --color_3_hover: #8aa92b;
    --color_4_hover: #c2d61f;
    --color_5_hover: #bfbf7e;


    --gradient_1: linear-gradient(90deg, var(--color_1), var(--color_2));
    --gradient_2: linear-gradient(90deg,var(--color_2),var(--color_3));
}